{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<section id="wrapper">
    <header id="header">
        <div class="top">

                <nav>
                    <ul class="navigation">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

        </div>

        <hgroup>
            <h2><a href="#">Blog</a></h2>
            <h3><a href="#">creating a blog in Symfony</a></h3>
        </hgroup>
    </header>
{% endblock %}
