{% extends '::base.html.twig' %}

{% block body %}
<section id="wrapper">
    <header id="header">
        <div class="top">

                <nav>
                    <ul class="navigation">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('about') }}">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

        </div>

        <hgroup>
            <h2><a href="#">Blog</a></h2>
            <h3><a href="#">creating a blog in Symfony</a></h3>
        </hgroup>
    </header>
{% endblock %}
